@import '../../../styles/variables.scss';

.custButton {
    font-size    : 16px;
    padding      : 6px 20px;
    background   : $primaryCol;
    border       : 1px solid transparent;
    color        : #fff;
    border-radius: 8px;
    cursor       : pointer;

    transition        : all 0.3s ease;
    -webkit-transition: all 0.3s ease;

    &:hover {
        background: transparent;
        border    : 1px solid $primaryCol;
        color     : $primaryCol;
    }

}