@import '../../styles/variables.scss';

[data-page="landing"] {

    .galleryContainer {
        padding      : 1rem;
        border       : 1px solid #ddd;
        border-radius: 10px;
        background   : #fbfbfb;
    }
}