@import '../../../../styles/variables.scss';

.emptyState {
    position: relative;

    .emptyImg {
        position : absolute;
        font-size: 15rem;
        color    : #dadada;
        top      : 50px;
        left     : 50px;
        transform: rotate(-16deg);

        &:last-child {
            top      : inherit;
            left     : inherit;
            right    : 50px;
            bottom   : 50px;
            transform: rotate(16deg);
        }
    }

    .emptyStateInner {
        display        : flex;
        align-items    : center;
        justify-content: center;
        flex-direction : column;
        line-height    : 3;

        button {
            margin-bottom: 10px;
        }

        span {
            font-size  : 1.5rem;
            font-weight: 500;

            &.note {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .emptyState {
        .emptyImg {
            font-size: 5rem;
            top      : 0;
            left     : 0;

            &:last-child {
                bottom: 0;
                right : 0;
            }
        }
    }
}